---
title: 'El sur: instrucciones de uso'
---

<div class="publication container">
  <div class="main">
    <h1>Remezclas de <%= link_to 'El Sur', '/' %></h1>

    <div class="remixes list">
      <% elsur_remixes.each do |remix| %>
        <div class="remix item">
        <a href="/pdfs/remezclas/<%= remix[:file] %>">
          <%= image_tag 'ui/play.png', alt: 'Descargar PDF del capítulo', width: 17, height: 17 %>
          <%= remix[:title] %></a>. Por <span class="autora"><%= remix[:author] %></span>
      </div>
    <% end %>
    </div>
  </div>
  <div class="cover">
    <a href="/"><%= image_tag 'elsur/portada.jpg', width: '259', height: '400' %></a>
  </div>

</div>
